.first {
	background-color: greenyellow;
  }
  .second {
	background-color: darksalmon;
  }
  body {
	margin: 0px;
	padding: 0px;
  }
  table {
	width: 100vw;
	background-color: #333;
  }
  td {
	padding: 20px;
  }