body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ballon {
  width: 200px;
  aspect-ratio: 1;
  background-color: red;
  border-radius: 100%;
  transition: 300ms;
}
